.class {
    float:left;
    width:33.33%;
    padding:5px;
    border:1px solid aquamarine;
}
.row::after {
    content:"";
    clear:both;
    display:table;
}
.class img {
    width:100%;
    height:300px;
}
#schoolcafeteria {
   height:125px;
    border-radius:25px;
    
}
li {
    margin-top:35px;
}
.imagemodal_missyreshmashouldinstallavirus_site{
    display:inline-block;
}