body{
  background: linear-gradient(green 0%, red 100%);
  background-repeat: no-repeat;
  text-align: center;
}
#img_001{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  top: 20px;
    left: 175px;
    position: relative;

} #div_001{
  height: 10px;
  background-color: black;
  width: 890px;
  margin: 100px;
}
ul{
    list-style: none;
    font-family: fantasy;
    color: cyan;
    float: right;
        top: 10px;
    right: 30px;
    cursor: pointer;
}
li{
display: inline;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
}
li:hover{
    color: white;
}
#line {
    width: 70px;
    height: 6px;
    background-color: azure;
    margin: 7px auto;
    
    
}
.images {
    height: 200px;
    width: 200px;
    border: 10px solid aquamarine;
    margin: 20px;
    transition: transform 0.2s;
    
    
}
img:hover {
    transform: scale(1.1);

}
#Inspiration {
    background: linear-gradient(blue, pink);
    
}
a {
    text-decoration: none;
}

